$vagus: #1a1489;
$optic: #1906cc;
$median: #8300bf;
$dark-median: #6000dc;
$facial: #F80045;
$trigeminal: #fe7820;
$abducens: #fce644;
$sciatic: #e8edfb;
$pudendal: lightgrey;
$primary-link: #5D6478;
$vestibular: #2c3e50;
$tibial: #FBFBFD;
$cochlear: #FFFFFF;
$navy: #24245b;
$dark-gray: #606266;
$neutral-gray: #616161;
$seafoam: #f5f7fa;
$glial: #71747C;
$cortex: #DADADA;
$dopamine: #2760FF;
$lightblue: #c0c4cc;
$nucleus: #17bb62;
$nucleus-dark: #14a758;
$cloudy: #dcdfe6;
$light-grey: #d8d8d8;
$dark-sky: #303133;
$purple-gray: #e4e7ed;
$light-purple: #f9f2fc;
$midnight: #24245b;
$medium-gray: #909399;
$washed-gray: #f5f7fa;

$app-primary-color: $vagus;
$app-secondary-color: black;
$text-color: $vestibular;
$input-text: #000;

$system-font:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
$font-family: 'Asap', sans-serif;

// Hide only visually, but have it available for screenreaders: h5bp.com
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
