@import '../_variables.scss';

.el-table {
  color: $dark-sky;
  font-size: 1rem;
  &__fixed-body-wrapper {
    td:first-child .cell {
      padding-right: 2.5rem;
    }
  }
  td {
    background: #fff;
    padding: 1.5rem 0 2rem;
    vertical-align: top;
  }
  .cell {
    padding-left: 1rem;
    padding-right: 1rem;
    word-break: normal
  }
}

.table-wrap {
  border: 1px solid rgb(219, 223, 230);
  padding: 0 1.5rem;
}

// DEFAULT HTML TABLE

/*
 * Style all tables the same as .el-table, but
 * make sure that `table` children inside of an
 * .el-table don't also get these styles applied
 */
table:not([class^="el-table__"]) {
  @extend .el-table;
  border: 1px solid #dbdfe6;
  border-spacing: 0;
  padding: 0 1.5rem;
  th,
  td {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dbdfe6;
    padding: 0.75rem 1rem;
    transition: background-color 0.25s ease;
  }
  tr:last-child td {
    border: none;
  }
  tr:hover td {
    background-color: #f3e6f9;
  }
}

thead {
  th {
    color: $dark-sky;
    font-weight: 500;
  }
}
td {
  vertical-align: top;
}

.markdown-table-wrap {
  overflow: scroll;
  width: 100%;
}
