@import '../_variables.scss';

.el-pager li {
  background-color: transparent;
  &.active {
    &:after {
      background: $app-primary-color;
      content: '';
      display: block;
      height: 4px;
      transform: translateY(-2px);
      width: 100%;
    }
  }
}
